@import "../../styles.scss";

.leftbar{
    @include themify($themes){
        flex: 2;
        position: sticky;
        top: 60px;
        left: 10px;
        margin-right: 20px;
        height: calc(100vh - 60px);
        overflow-y: auto;
        background-color: themed("bg");
        color: themed("textColor");
        &::-webkit-scrollbar{
            width: 5px;
        }
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        .container{
            padding: 10px 20px;
            span{
                font-size: 12px;
            }
            .menu{
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                margin-top: 10px;
                .item{
                    
                    padding: 5px;
                    border-radius: 10px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color 0.2s;

                    img{
                        height: 25px;
                        width: 25px;
                        border-radius: 100px;
                        object-fit: cover;

                    }
                    span{
                        color: themed("textColorSoft");
                        font-size: 14px
                        
                    }
                }
                .item:hover{
                    background-color: themed("hover");

                }
                .item:active{
                    background-color: themed("active");
                }
            }
        }
    }

    hr{
        margin: 10px 0;
        border: none;
        height: 0.5px;
        background-color: #888888;
    }
    img{
        width: 30px;
        height: 30px;
    }
}