$themes: (
  light: (
    textColor: #000000,
    bg: white,
    bgSoft: rgb(239, 236, 242),
    textColorSoft: rgb(80, 80, 80),
    hr: lightgray,
    hover: #f5f4f7,
    active: rgb(239, 236, 242),
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222222,
    bgSoft: #333333,
    textColorSoft: lightgray,
    hr: #888888,
    hover: #2b2b2b,
    active: #323232,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}